* {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.index {
  display: flex;
}

.incredible {
  background-color: #2d3e4f;
}

.incredible__link {
  color: #ffffff;
}

.incredible__title {
  color: #cf404d;
  font-size: 30px;
  line-height: 25px;
  padding: 205px 95px 60px 95px;
  margin-top: 0;
}

.incredible__list {
  margin: 0 auto;
}

.incredible__item {
  list-style: none;
  font-size: 14px;
  line-height: 20px;
  padding: 20px;
  text-align: center;
}

.incredible__item .active {
  color: #cf404d;
}

.section {
  width: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.main {
  background-color: #940994;
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
}

.main__block {
  padding: 305px 245px;
  margin: 0 auto;
}

.main__title {
  color: #ffffff;
  font-size: 50px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.main__description {
  margin-top: -35px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.button {
  display: flex;
  justify-content: center;
}

.main__button {
  cursor: pointer;
  color: #ffffff;
  padding: 15px 22px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  margin: 35px 5px 0;
}

.main__button-light {
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.main__button-dark {
  background: #cf404d;
  border: 2px solid #cf404d;
  box-sizing: border-box;
  border-radius: 4px;
}

.heading,
.lightbox,
.contact {
  padding: 63px 0;
}

.heading__title,
.lightbox__title,
.contact__title {
  font-size: 31px;
  line-height: 36px;
  text-transform: uppercase;
  color: #313131;
  text-align: center;
}

.heading__description,
.lightbox__description,
.contact__description {
  font-family: "Droid Sans", sans-serif;
  font-size: 19px;
  line-height: 30px;
  color: rgba(115, 115, 115, 0.74);
  text-align: center;
}

.heading__section {
  margin-top: 60px;
  display: flex;
}

.heading__item {
  max-width: 240px;
}

.heading__item-img {
  width: 100px;
  height: 100px;
}

.heading__item-img img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading__item-title {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;

  color: #313131;
}

.heading__item-description {
  font-family: Droid Sans;
  font-size: 15px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.74);
}

.heading__item-link {
  font-size: 16px;
  line-height: 20px;
  color: #cf404d;
}

.header {
  background: #cf404d;
}

.header__content {
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__content-text {
  font-size: 31px;
  line-height: 36px;
  color: #ffffff;
}

.header__content-button {
  color: #ffffff;
  padding: 11px 22px;
  background-color: transparent;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}

.lightbox__box {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

.lightbox__box-item {
  margin: 10px;
}

.contact {
  background: #fafafa;
}
.contact__item {
  display: flex;
  justify-content: space-between;
}

.contact__input {
  width: 100%;
}

.contact__input:first-child {
  margin-right: 20px;
}

.contact__input input {
  min-height: 45px;
  width: 100%;
  margin-bottom: 17px;
  background: #ffffff;
  border: none;
  box-shadow: 0px 0px 0px rgba(64, 64, 71, 0.3);
  border-radius: 3px;
  padding-left: 30px;
}

.form__content {
  max-width: 582px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.contact__textarea {
  width: 100%;
  
}

.contact__textarea textarea {
  background: #ffffff;
  border: none;
  box-shadow: 0px 0px 0px rgba(64, 64, 71, 0.3);
  border-radius: 3px;
  padding-left: 30px;
  padding-top: 20px;
  outline: none;
  resize: none;
  max-height: 110px;
  margin-bottom: 17px;
}

.contact__button {
  border: none;
  background: #cf404d;
  border-radius: 4px;
  padding: 10px;
  color: #ffffff;
}
